@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


.auth{
  background-color: white;
  color: black;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.auth button{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.auth button img{
  width: 40px;
}

.room-container{
  background-color: white;
  color: #1a1a1a;
  padding: 50px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.room-container input {
  padding: 5px;
  border-radius: 4px;
  font-size: 21px;
}

.room-container button{
  color: white;
  transition: all 0.3s;
}

.room-container .logout{
  background-color: rgba(175, 6, 40);
}

.room-container button:hover{
  transform: scale(0.95);
  box-shadow: 0 0 40px rgba(0, 128, 0, 0.358);
}

/* sohbet sayfası */
.chat {
  background-color: white;
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat header {
  background: crimson;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius:10px 10px 0 0;
  align-items: center;
}

.chat header .different-room{
  cursor: pointer;
}

.chat header .user{
  font-weight: bold;
}

.chat main {
  flex-grow: 1;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  overflow: auto;
}

.chat form {
  display: flex;
  justify-content: center;
  background-color: crimson;
  padding: 10px;
  gap: 20px;
  border-radius: 0 0 10px;
}
.chat form input {
  width: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 17px;
}

.chat header a,
.chat form button {
  background-color: #646cff;
  color: white;
  transition: all 0.3s;
}

.chat header a{
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.chat form button:hover {
  box-shadow: 0 0 20px #646cff;
}

.msg-user{
  align-self: flex-end;
  border-radius: 10px;
  background: #646cff;
  color: white;
  padding: 4px;
  border-radius: 5px 5px 0 5px;
}

.msg-other{}

.msg-other span:nth-child(1){
  font-weight: bold;
}